.rotating-text-split {
    display: inline-block;
    overflow: hidden;
  }

.rotating-text-ptag {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 3rem;
  gap: 0.4em;
}

.static-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: white;
  margin-right: 1.5rem;
  text-align: center;
  line-height: 1;
}

.rotating-text-main {
  padding: 0.125rem 0.5rem;
  background-color: #0075BF;
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  transition: background 0.2s;
}

.rotating-text-split {
  overflow: hidden;
  padding-bottom: 0.125rem;
}

@media (max-width: 800px) {
.static-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: white;
  margin-right: 1.5rem;
  text-align: center;
  line-height: 1;
}

.rotating-text-main {
  padding: 0.125rem 0.5rem;
  background-color: #0075BF;
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  transition: background 0.2s;
}
}

@media (max-width: 1200px) {
  .rotating-text-ptag {
    flex-direction: column;
    align-items: flex-start; 
  }

  
  .static-text {
    margin-bottom: 0.5rem;
    margin-right: 0; 
  }
}