.site-header {
  width: 100%;
  height: 80px;
  background: #0075bf;
  z-index: 1500;
  pointer-events: none;
  margin: 0 auto;
  border-bottom: 8px solid;
  border-image: linear-gradient(to bottom, #e30613 60%, transparent 100%) 1;
  position: sticky;
  top: 0;
  transition: border-radius 1s;
  border-radius: 15px 15px 0 0;

}

.site-header.is-sticky {
  border-radius: 0 !important;
}

@media (min-width: 1704px) {
  .site-header {
    max-width: 95%;
  }
}

@media (min-width: 1904px) {
  .site-header, .header-content {
    max-width: 90%;
  }
}